{
padding: 0  ;
  margin: 0  ;
}

body
{
  width: 1280px;
  font-family: 'Montserrat', sans-serif;
}

.header
{
  padding: 26px 0;
}

ul
{
  text-align: center;
  list-style-type: none;
}

.menu-item
{
  padding: 0 36px;
  display: inline-block;
}

.menu-item-download
{
  padding: 25px;
  display: inline-block;

}

.menu-item-link
{
  margin-top: 26px;
  color: #FF0000;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
}



.main-image {
  background-image: url('../image 1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 78px;
  padding-bottom: 759px;
}

.title
{
text-align: center;

}

.main-content
{

  text-align: center;
  margin-top: 38px;
  margin-bottom: 28px;
  display: block;
  width: 1145px;
}

.text {
  margin-bottom: 66px;
  text-align: center;
  display: block;
  width: 1145px;
}

.main-button
{
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 18px 44px;
  background-color: red;
  border-radius: 4px;
  border: none;
  left: 545px;
  top: 557px;
  position: sticky;
}

.subtitle
{
  margin-top: 167px;
  margin-bottom: 29px;
  position: sticky;
  width: 462px;
  height: 39px;
  left: 608px;
  top: 1px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;

  letter-spacing: 2px;

  color: #373737;
}
